/*
 * Source: "Build a fully-responsive, progressively enhanced burger menu"
 * Author: Andy Bell
 * URL: https://piccalil.li/blog/build-a-fully-responsive-progressively-enhanced-burger-menu/#heading-javascript
 */

.burger-menu__trigger {
    display: none;
}

/* Hamburger icon */
.burger-menu__bar,
.burger-menu__bar::before,
.burger-menu__bar::after {
    display: block;
    width: var(--burger-icon-width, 24px);
    height: var(--burger-icon-line-height, 3px);
    background: var(--burger-icon-color, black);
    border: 1px solid var(--burger-icon-color, black);
    position: absolute;
    border-radius: var(--burger-icon-radius, 3px);
    left: 50%;
    margin-left: calc(-1 * var(--burger-icon-width, 24px) / 2);
    transition: transform 350ms ease-in-out;
}

.burger-menu__bar {
    top: 50%;
    transform: translateY(-50%);
}

.burger-menu__bar::before,
.burger-menu__bar::after {
    content: '';
}

.burger-menu__bar::before {
    top: calc(-1 * (var(--burger-icon-line-gap, 5px) + var(--burger-icon-line-height, 3px)));
}

.burger-menu__bar::after {
    bottom: calc(-1 * (var(--burger-icon-line-gap, 5px) + var(--burger-icon-line-height, 3px)));
}

.burger-menu[enabled='true'] .burger-menu__trigger {
    --burger-icon-height: calc(var(--burger-icon-line-gap, 5px) * 2 + var(--burger-icon-line-height, 3px) * 3);

    display: block;
    width: calc(var(--burger-icon-width, 24px) + 0.5rem);
    height: calc(var(--burger-icon-height) + 0.5rem); /* Nice big tap target */
    position: relative;
    z-index: 100;
    background: var(--burger-background-color, transparent);
    border: none;
    cursor: pointer;
}

.burger-menu[enabled='true'] .burger-menu__panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--space-xl);
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background: var(--burger-menu-panel-background-color, white);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.burger-menu[enabled='true'] ul {
    display: block;
}

.burger-menu[enabled='true'] ul > * + * {
    margin-top: var(--burger-menu-flow-space, 2rem);
}

.burger-menu[enabled='true'] ul :is(li, li > a) {
    font-size: var(--burger-menu-font-size, inherit);
}

.burger-menu[enabled='true'][status='open'] .burger-menu__panel {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--transition-fade, 400ms ease);
}

.burger-menu[enabled='true'][status='closed'] .burger-menu__panel > * {
    opacity: 0;
    transform: translateY(5rem);
}

.burger-menu[enabled='true'][status='open'] .burger-menu__panel > * {
    transform: translateY(0);
    opacity: 1;
    transition: transform 500ms cubic-bezier(0.17, 0.67, 0, 0.87) 200ms, opacity 500ms ease 300ms;
}

.burger-menu[enabled='true'][status='open'] .burger-menu__bar::before {
    top: 0;
    transform: rotate(45deg);
}

.burger-menu[enabled='true'][status='open'] .burger-menu__bar::after {
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu[enabled='true'][status='open'] .burger-menu__bar {
    background: transparent;
    border-color: transparent;
    transform: rotate(180deg);
}

body:has(.burger-menu[enabled='true'][status='open']) {
    height: 100vh;
    width: 100vw;
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    overscroll-behavior: none;
}
