/*
AUTO GRID
Related Every Layout: https://every-layout.dev/layouts/grid/
More info on the flexible nature: https://piccalil.li/tutorial/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/
*/

.grid {
    display: grid;
    grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
    gap: var(--gutter, var(--space-l));
    align-items: var(--grid-vertical-alignment, flex-start);
}

/* Two column grid layout */
.grid[data-layout='halves'] {
    --grid-min-item-size: clamp(17rem, calc(50% - var(--gutter, var(--space-l))), 33rem);
}

/* Three column grid layout */
.grid[data-layout='thirds'] {
    --grid-min-item-size: clamp(17rem, calc(33% - var(--gutter, var(--space-l)) * 2), 25rem);
}

/* Four column grid layout */
.grid[data-layout='fourths'] {
    --grid-min-item-size: clamp(15rem, calc(25% - var(--gutter, var(--space-l)) * 3), 18rem);
}
