/*
SWITCHER
More info: https://every-layout.dev/layouts/switcher/
A layout that allows you to lay **2** items next to each other
until there is not enough horizontal space to allow that.

--switcher-target-container-width (40rem): How large the container
needs to be to allow items to sit inline with each other
*/
.switcher {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--switcher-row-gap, var(--gutter, var(--space-l)));
    column-gap: var(--switcher-column-gap, var(--gutter, var(--space-l)));
    align-items: var(--switcher-vertical-alignment, flex-start);
}

.switcher > * {
    flex-grow: 1;
    flex-basis: calc((var(--switcher-target-container-width, 40rem) - 100%) * 9999);
}

/* Max 2 items, so anything greater than 2 is full width */
.switcher > :nth-child(n + 3) {
    flex-basis: 100%;
}
