/* Example */
/*
@font-face {
  font-family: 'PP Supply Sans';
  src: url('../../fonts/PPSupplySans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
*/
