:root {
    --wrapper-max-width: 1700px;
    --prose-max-width: 800px;
    --wrapper-x-padding: var(--space-s-xl);
    --stroke: 1px solid var(--color-black);
    --stroke-bold: 3px solid var(--color-black);
    --stroke-light: 1px solid var(--color-gray-200);
    --radius-m: 0.5rem;
    --radius-l: 1.8rem;
    --burger-icon-color: var(--color-white);
    --burger-icon-line-height: 2px;
    --burger-icon-width: 18px;
    --burger-icon-radius: 0px;
    --burger-icon-line-gap: 4px;
    --burger-menu-panel-background-color: var(--color-black);
    --burger-menu-font-size: var(--size-step-4);
    --burger-menu-flow-space: 3rem;
}
